/* * {
    font-family:'Times New Roman', Times, serif;
} */

.intestazione {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 500px;
}

.logo {
    height: 70px;
    margin-top: 60px;
}

h1 {
    font-size: 65px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#writtenby {
    font-size: 20px;
}

span {
    color: #22a9e5;
}

#date {
    font-size: 16px;
    color: grey;
}

.didascalia {
    font-size: 13px;
}

ul {
    padding: 0;
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr.azzurro {
    background-color: #b1e5f2;
  }

thead {
    background-color: #20a9e5;
    color: white;
}

.w-50 {
    width: 50%;
}

.potrebbero {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    margin-top: 30px;
    margin-bottom: 10px;;
}

.link {
    height: 220px;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.monitor {
    background-image: url(../img/monitor.jpg);
}

.graph {
    background-image: url(../img/graph.jpg);
}